[data-theme='dark'] h1 {
    color: #ffab40 !important;
}

[data-theme='dark'] .table {
    background-color: #14181e !important; /* Color de fondo oscuro */
}

[data-theme='dark'] .table th.head, [data-theme='dark'] .table td {
    color: #fff !important; /* Color de texto blanco */
    background-color: #14181e !important; /* Color de fondo oscuro */
}

#p5-container canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#p5-container {
    text-align: center;
    padding: 10px;
    background-color: #888484; /* Opcional, para resaltar */
    border: 1px solid #ddd; /* Opcional, para separar visualmente */
}